<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice Details</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <main>
        <aside class="sidebar">

            <div class="sidebar-logo">
                <img src="../assets/braga8-logo.svg" class="logo-image">
            </div>

            <a href="dashboard_screen.html">
                <h1 class="sidebar-title">Dashboard</h1>
            </a>

            <nav class="sidebar-nav">

                <div class="menu-group">
                    <a href="#" class="menu-item">
                        <span><i class="fa-solid fa-shop"></i></span>
                        <span>Tenant & Unit</span>
                    </a>
                    <div class="submenu">
                        <a href="#">Tenant List</a>
                        <a href="#">Unit List</a>
                    </div>
                </div>

                <div class="menu-group">
                    <a href="#" class="menu-item">
                        <span><i class="fa-solid fa-gear"></i></span>
                        <span>Utilities</span>
                    </a>
                    <div class="submenu">
                        <a href="#">Meter Data</a>
                        <a href="#">Meter Readings</a>
                    </div>
                </div>

                <div class="menu-group active">
                    <a href="#" class="menu-item">
                        <span><i class="fa-solid fa-money-bill"></i></span>
                        <span>Tarif & Billings</span>
                    </a>
                    <div class="submenu">
                        <a href="tariff_setup_screen.html">Tarif Setup</a>
                        <a href="#">Generate Tagihan</a>
                        <a href="invoices_screen.html">Invoice</a>
                    </div>
                </div>

                <div class="menu-group">
                    <a href="#" class="menu-item">
                        <span><i class="fa-solid fa-money-bill"></i></span>
                        <span>Payment</span>
                    </a>
                    <div class="submenu">
                        <a href="#">Payment Status</a>
                        <a href="#">Payment Logs</a>
                    </div>
                </div>

                <div class="menu-group">
                    <a href="#" class="menu-item">
                        <span><i class="fa-solid fa-list"></i></span>
                        <span>Reports</span>
                    </a>
                    <div class="submenu">
                        <a href="#">Usage Reports</a>
                        <a href="#">Export data</a>
                    </div>
                </div>

                <div class="menu-group">
                    <a href="#" class="menu-item">
                        <span><i class="fa-solid fa-triangle-exclamation"></i></span>
                        <span>Complaints</span>
                    </a>
                    <div class="submenu">
                        <a href="#">Complaint List</a>
                    </div>
                </div>

                <div class="menu-group">
                    <a href="#" class="menu-item">
                        <span><i class="fa-solid fa-user"></i></span>
                        <span>User Management</span>
                    </a>
                </div>

                <div class="menu-group">
                    <a href="#" class="menu-item">
                        <span><i class="fa-solid fa-money-bill"></i></span>
                        <span>Audit Log</span>
                    </a>
                </div>

                <div class="menu-group">
                    <a href="#" class="menu-item">
                        <span><i class="fa-solid fa-sliders"></i></span>
                        <span>Settings</span>
                    </a>
                </div>

            </nav>

        </aside>

        <div class="right-content">
            <div class="dashboard-header mb-2">
                <div>
                    <h1 class="title-text">Invoice Details</h1>
                    <p class="subtitle-text">Braga8 Utility Billing Management</p>
                </div>

                <div class="header-user">
                    <div class="icon-wrapper" data-popup="notif-popup">
                        <i class="fa-solid fa-bell"></i>
                        <span class="notif-dot"></span>
                    </div>

                    <div class="profile-container" data-popup="detail-profile-popup">
                        <div class="profile-icon">
                            <svg viewBox="0 0 24 24" fill="#a04d30">
                                <path
                                    d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-card mb-2">
                <div class="table-card-header">
                    <div class="table-card-title">
                        <span class="label">Tenant:</span>
                        <span class="value">Burger Bangor</span>
                    </div>

                    <div class="table-card-meta">
                        1 Unit
                    </div>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Invoice No</th>
                            <th>Unit</th>
                            <th>Total</th>
                            <th>Period</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>INV-1771741827</td>
                            <td>2A</td>
                            <td>Rp 1300,000</td>
                            <td>2026-02-01 - 2026-02-28</td>
                            <td class="status">
                                <button class="dark-green-btn">
                                    Sended
                                </button>
                            </td>
                            <td class="actions">
                                <button class="light-green-btn-action" data-popup="detail-tariff">
                                    <span><i class="fa-solid fa-eye"></i></span>
                                    <span>View PDF</span>
                                </button>
                                <button class="light-brown-btn-action" data-popup="update-tariff">
                                    <span><i class="fa-solid fa-download"></i></span>
                                    <span>Download Excel</span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <h1 class="invoice-title-card">Invoice Items</h1>

            <table class="invoice-items">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Amount</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Pemakaian Air</td>
                        <td>Rp 1,300,000,00</td>
                    </tr>
                    <tr>
                        <td>Pemakaian Listrik</td>
                        <td>Rp 1,300,000,00</td>
                    </tr>
                    <tr>
                        <td>Biaya Beban Listrik</td>
                        <td>Rp 1,300,000,00</td>
                    </tr>
                    <tr>
                        <td>Pemeliharaan Trafo</td>
                        <td>Rp 1,300,000,00</td>
                    </tr>
                    <tr>
                        <td>Administrasi</td>
                        <td>Rp 1,300,000,00</td>
                    </tr>
                    <tr>
                        <td>Materai</td>
                        <td>Rp 1,300,000,00</td>
                    </tr>
                    <tr>
                        <td>Lain-lain</td>
                        <td>Rp 1,300,000,00</td>
                    </tr>
                    <tr>
                        <td>PPN</td>
                        <td>Rp 1,300,000,00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <script type="module" src="../js/main.js"></script>
</body>

</html>